<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed? %>
  <p><i class="far fa-check-square"></i> This task is completed.</p>
<% else %>
  <p><i class="far fa-square"></i> This task is not completed.</p>
<% end %>

<%= link_to "Back to lists", tasks_path %>
<%= link_to "Edit this task", edit_task_path %>
<%= link_to "Delete #{@task.title}",
    task_path(@task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
